@model IEnumerable<Covid19Tracing.Models.SuspectedCases>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-1">
    <div class="card-body  text-left">

        <h5><img src="/images/119079.png" class="icons1" alt="" /> &nbsp; | &nbsp;Suspected patients details</h5>
        @*<input type="submit" value="Log in" class="btn btn-primary" />*@

    </div>
</div></p>
<div class="card">
    <div class="card-1">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P_patient_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Full_names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_patient_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.P_patient_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Full_names)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_patient_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_number)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" class="btn btn-outline-dark" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" class="btn btn-outline-dark" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table></div></div>
